<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>

            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post, I have written a few today

                in quite a few places. I actually enjoyed coding from other
                places.
            </p>
            <div>
                <p>published: 16.06.2014</p>
                <h2><a href="">My second post</a></h2>
                <p>I loved having coffee and crisps when I finish this post i will see how I get on</p>
            </div>
        </div>
    </body>
</html>
